<div class="container m-5">

  <h1>Shipping</h1>

  <div class="row">
    <div class="col-6">
      <form #f="ngForm" (ngSubmit) = "save(f.value)">

        <div class="form-group">
          <label for="name">Name</label>
          <input #name = "ngModel" ngModel type="text" name="name" id="name" class="form-control" required>
          <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
            Name is required
          </div>
        </div>

        <div class="form-group">
          <label for="address">Address</label>
          <input #address = "ngModel" ngModel type="text" name="address" id="address" class="form-control" required>
          <div class="alert alert-danger" *ngIf="address.touched && address.invalid">
            Address is required
          </div>
        </div>

        <div class="form-group">
          <label for="city">City</label>
          <input #city = "ngModel" ngModel type="text" name="city" id="city" class="form-control" required>
          <div class="alert alert-danger" *ngIf="city.touched && city.invalid">
            City is required
          </div>
        </div>

        <button class="btn btn-outline-dark">Get Order</button>

      </form>
    </div>

    <div class="col-6">
      <div class="card">
        <div class="card-body">

          <h5 class="card-title">Order Summary</h5>

          <p class="card-text">You have {{ cart.totalItemsCount }} items in your shopping cart</p>

          <ul class="list-group list-group-flush">

            <li *ngFor="let item of cart.items" class="list-group-item">
              {{ item.quantity }} x {{ item.product.title }}
              <div class="float-right">
                {{ item.totalPrice | currency }}
              </div>
            </li>

            <li class="list-group-item font-weight-bold">
              Total:
              <div class="float-right">
                {{ cart.totalPrice | currency }}
              </div>
            </li>

          </ul>
        </div>
      </div>
    </div>

  </div>


</div>
